---
// Component Imports
import Button from "../components/Button.astro";
import Header from "../components/Header.astro";
import Topbar from "../components/Topbar.astro";
import Info from "../components/Info.astro";
import TechWeUse from "../components/TechWeUse.astro";
import Monitori from "../components/Monitori.astro";
import Careers from "../components/Careers.astro";
import Documents from "../components/Documents.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro + TailwindCSS</title>
  </head>

  <body class="bg-slate-900">
    <Header />
    <Topbar />
    <Info />
    <TechWeUse />
    <Monitori />
    <TechWeUse />
    <TechWeUse />
    <Careers />
    <Documents />
    <Contact />
    <Footer />
  </body>
</html>
