---
import IdeaGif from "../assets/innovation.webm";
---

<div class="text-white bg-sky-900 rounded-xl p-8 m-10">
  <h1 class="text-3xl">Careers</h1>
  <p>
    We believe in the power of talent, innovation, and collaboration. Company
    Culture and Values While we currently do not have any open positions, we
    want to provide you with an insight into our inspiring company culture. At
    sistem:i solutions, every day is an opportunity for growth, learning, and
    creativity. Our commitment to inclusivity, collaboration, and innovation
    shapes everything we do. Even though we're not actively seeking new team
    members, we're always open to getting to know passionate individuals who
    share our values. Upcoming Projects and Prospects Rest assured that sistem:i
    solutions is always moving forward. Our upcoming projects and initiatives
    will demand diverse talents and skills. Share your CV with us so we can
    reach out when an opportunity arises that aligns with your profile.
    Collaboration through Freelancing or Consulting If you're an expert in your
    field and interested in occasional collaboration, we invite you to send your
    CV. Even though we don't have open permanent positions right now, we often
    require expertise for specific projects or as consultants. Your CV will help
    us contact you when such opportunities emerge.
  </p>
  <video class="mt-8" src={IdeaGif} loop muted autoplay></video>
  <button class="bg-green-600 py-4 px-8 mt-8 rounded-2xl">Send your CV</button>
</div>
