---

---

<div class="text-white bg-sky-900 rounded-xl p-8 m-10">
  <h1>Documents</h1>
  <div>
    <p>
      Here you can access essential resources that contribute to our commitment
      to transparency, integrity, and responsible practices. These documents
      serve as valuable references for understanding our company's policies,
      guidelines, and values. Feel free to explore and download the following
      documents. Please note that these documents are subject to periodic
      updates, and we recommend reviewing them regularly to stay informed about
      any changes. If you have any questions or require further clarification
      about the content within these documents, please don't hesitate to contact
      us. Your understanding and adherence to these documents are highly
      appreciated as we strive to maintain a transparent and accountable
      relationship with our clients and partners.
    </p>
    <div>
      <p>Code of conduct - English</p>
      <p>Code of conduct - Serbian</p>
    </div>
  </div>
</div>
