---
import { Image } from "astro:assets";
import svgReference from "../assets/home-logo-sistemisolutions.svg";
---

<div class="flex justify-between p-5">
  <Image class="w-40" src={svgReference} alt="" />
  <p class="text-white">© 2023 sistem:i solutions | All rights reserved.</p>
</div>
