---
import { Image } from "astro:assets";
import mojaSlika from "../assets/IMG_5302.jpg";
import svgReference from "../assets/home-logo-sistemisolutions.svg";
---

<div class="flex justify-center">
  <Image class="size-44" src={svgReference} alt="ova radi" />
</div>
