---
import BaseLayout from "./BaseLayout.astro";
---

<div class="text-white bg-orange-800 rounded-xl p-8 m-10">
  <h1>sistemisolutions - Enhancing IT Performance</h1>
  <img src="#" alt="oracleBadge" />
  <p>
    With decades of hands-on expertise in the domain of software innovation,
    deployment, and maintenance, we have consistently pushed the boundaries of
    what is possible in the ever-evolving landscape of technology. At sistem:i
    solutions, we are a dynamic force in the world of software development and
    maintenance, delivering top-notch solutions to the technology, finance, and
    transportation industries. Our journey of achievement is fueled by a
    relentless pursuit of excellence, which has enabled us to forge strong
    partnerships with industry leaders like Oracle, Checkpoint, and Cisco. These
    partnerships have provided us with valuable insights and resources, allowing
    us to stay at the forefront of technological advancements. By combining our
    expertise with these collaborations, we empower our clients with innovative
    solutions that drive efficiency, enhance security, and foster growth.
  </p>
</div>
