---
import Video from "../assets/monitori-video.webm";
---

<div class="text-white bg-sky-900 rounded-xl p-8 m-10">
  <h1>monitori - Enhancing Equipment Monitoring</h1>

  <p class="my-5">
    Transform your IT infrastructure monitoring with monitor:i™ and gain
    real-time insights, advanced alerting, and seamless integration with your
    existing systems. With support for multiple platforms and flexible
    agent-based or agentless monitoring, Monitor:i empowers you to ensure the
    availability, performance, and security of your network and systems.
    Effortlessly scale your monitoring capabilities, receive timely
    notifications, and harness the power of data-driven decision-making. With
    monitor:i's centralized management, streamline administration and monitoring
    tasks for multiple IT assets and remote locations from a single,
    user-friendly console, enhancing operational efficiency and reducing costs.
    Experience a comprehensive solution that optimizes your IT operations and
    keeps your business running at its best.
  </p>
  <video class="rounded-xl my-10" loop muted autoplay src={Video}></video>
  <div class="flex">
    <div>
      <p class="p-4">
        Comprehensive IT Infrastructure Monitoring: Monitor and track the
        health, performance, and availability of your entire IT infrastructure,
        including servers, networks, applications, and devices. Furthermore,
        gain deep insights into historical trends to make informed capacity
        planning decisions. Agent-based and Agentless Monitoring: Choose between
        agent-based monitoring, where a lightweight agent is installed on
        monitored devices, or agentless monitoring for protocols like FTP, IMAP,
        HTTP, and more. Additionally, easily switch between these methods to
        adapt to your changing IT environment. SNMP Monitoring: Collect device
        data using SNMP versions 1, 2, and 3 to monitor and manage network
        devices and systems. Additionally, receive real-time SNMP traps for
        instant notification of critical network events. Event and Alarm
        Management: Receive real-time alerts and notifications for hardware
        failures, performance bottlenecks, threshold breaches, and other
        critical events affecting your IT infrastructure. Moreover, automate
        incident ticket creation for seamless issue resolution and tracking.
        Reporting and Visualization: Generate customizable reports and
        visualizations to gain insights into system performance, historical
        trends, capacity planning, and more. Additionally, schedule automated
        report delivery to key stakeholders for proactive decision-making.
      </p>
      <button
        class="flex justify-center items-center my-2 bg-green-600 rounded-2xl px-4 py-2"
        >nesto</button
      >
    </div>
    <div>
      <p class="p-4">
        Alerting and Notification: Configure flexible alerting rules and
        notifications via email, SMS, or push notifications to ensure timely
        response to critical incidents. Additionally, you can customize
        escalation procedures for different severity levels to streamline
        incident management. Centralized Management: Manage and monitor multiple
        IT assets and locations from a single, centralized interface,
        simplifying administration and reducing complexity. Moreover, gain
        real-time insights through comprehensive dashboards and reporting tools
        for better decision-making. Role-based Access Control: Enforce granular
        access controls and assign specific permissions to different user roles
        for improved security and governance. Furthermore, track and audit user
        activities to maintain compliance with industry regulations.
        Customizable Dashboards: Create personalized dashboards with
        drag-and-drop widgets to monitor the metrics and data that matter most
        to your organization. Additionally, set up automated alerts to
        proactively address any anomalies or performance issues. Remote
        Monitoring and Management: <br />
        Monitor and manage geographically distributed IT assets and remote locations
        from a centralized console, reducing travel and on-site visits. Moreover,
        streamline troubleshooting with remote desktop access for efficient issue
        resolution.
      </p>
      <button
        class="flex justify-center items-center my-2 bg-green-600 rounded-2xl px-4 py-2"
        >nesto drugo</button
      >
    </div>
  </div>
</div>
