---
import Image from "astro/components/Image.astro";
import svgReference from "../assets/home-logo-sistemisolutions.svg";
import DeleteX from "../assets/delete.png";
---

<div class="bg-slate-800 overflow-hidden relative">
  <div class="z-10 relative bg-slate-800 flex justify-between items-center p-8">
    <Image class="w-44" src={svgReference} alt="ova radi" />
    <button id="topbar-menu-button" class="text-white focus:outline-none">
      <Image class="w-10 invert" src={DeleteX} alt="" />
    </button>
  </div>
  <div
    id="dropdownList"
    class="-top-full transition duration-500 flex justify-center pb-8 bg-inherit text-white py-2 px-4 mt-2 rounded"
  >
    <ul class="text-white space-y-8">
      <li>
        <a href="">About</a>
      </li>
      <li>
        <a href="">Technology</a>
      </li>
      <li>
        <a href="">Monitor:i</a>
      </li>
      <li>
        <a href="">Clients</a>
      </li>
      <li>
        <a href="">Partners</a>
      </li>
      <li>
        <a href="">Careers</a>
      </li>
      <li>
        <a href="">Documents</a>
      </li>
      <li>
        <a href="">Contact Us</a>
      </li>
    </ul>
  </div>
</div>

<script>
  let dropdownVisible = false;
  const topbarMenuButton = document.getElementById("topbar-menu-button")!;
  const dropdownList = document.getElementById("dropdownList")!;

  function updateDropdown() {
    if (dropdownVisible) {
      dropdownList.classList.remove("-translate-y-full");
      return;
    }

    dropdownList.classList.add("-translate-y-full");
  }

  function toggleDropdown() {
    dropdownVisible = !dropdownVisible;

    updateDropdown();
  }

  topbarMenuButton.onclick = toggleDropdown;
</script>
